<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>


    <style>
        /* <Your codes here> */
    </style>
</head>

<body>



<div class="profile">
    <!-- for the profile image -->
    <!-- Hints: refer to the data of the testIds.js -->
    <!-- Uses the "<%= %>" tags. -->

    <!-- Your codes here -->
    <div class="profileImg">
        <img src= "<%=profileImg%>" /> 
    </div>
    <!-- the user information(name, student number) -->
    <!-- Hints: refer to the data of the testIds.js -->
    <div class="profile-info">
        <!-- Your codes here -->
        <div class="userName">
            <%=userName%>
        </div>
        <div class="studentId">
            <%=studentId%>
        </div>
        
    </div>

    <!-- the logout button -->
    <a href="http://localhost:5000/logout">Logout</a>
    <!-- Your codes here -->
</div>



</body>
</html>
