<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>


    <style>
        /* <Your codes here> */
        .profile {
            width: 60vw;
            height: 40vh;
            margin: 0 auto;
            padding: 5vh 0;
            border: 1px solid grey;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .profileImg img {
            width: 20vw;
            border-radius: 70%;
        }

        .userName {
            font-size: 20px;
            font-weight: 700;
        }

        .studentId {
            font-size: 12px;
        }

        a {
            text-decoration: none;
            outline: none;
            background-color: palevioletred;
            color: white;
            text-align: center;
            width: 15%;
            padding: 0.5vw;
            border-radius: 5px;
        }
    </style>
</head>

<body>



<div class="profile">
    <!-- for the profile image -->
    <!-- Hints: refer to the data of the testIds.js -->
    <!-- Uses the "<%= %>" tags. -->

    <!-- Your codes here -->
    <div class="profileImg">
        <img src= "<%=profileImg%>" /> 
    </div>
    <!-- the user information(name, student number) -->
    <!-- Hints: refer to the data of the testIds.js -->
    <div class="profile-info">
        <!-- Your codes here -->
        <div class="userName">
            NAME: <%=userName%>
        </div>
        <div class="studentId">
            STUDENT ID: <%=studentId%>
        </div>
        
    </div>

    <!-- the logout button -->
    <a href="http://localhost:5000/logout">Logout</a>
    <!-- Your codes here -->
</div>



</body>
</html>
